<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn1.Properties.Settings.LapLichBaoVeLuanVanConnectionString"
            connectionString="Data Source=DESKTOP-KQII4H5;Initial Catalog=LapLichBaoVeLuanVan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAn1.Properties.Settings.LapLichBaoVeLuanVanConnectionString1"
            connectionString="Data Source=DESKTOP-SK4RRQC\TRISQL;Initial Catalog=LapLichBaoVeLuanVan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>